/* builder4impress GUI styles */
.step:hover, .sprite:hover {
  background-color: rgba(255,250,100,0.5) !important;
  opacity: 1 !important;
}
/* buttons */
#builder-main-menu .bt-overview,
#builder-control-menu .bt-overview,
#builder-main-menu .bt-download,
#builder-control-menu .bt-download,
#builder-main-menu .bt-movexy,
#builder-control-menu .bt-movexy,
#builder-main-menu .bt-movez,
#builder-control-menu .bt-movez,
#builder-main-menu .bt-rotate,
#builder-control-menu .bt-rotate,
#builder-main-menu .bt-scale,
#builder-control-menu .bt-scale,
#builder-main-menu .bt-hide,
#builder-control-menu .bt-hide {
  background-position: 5px center;
  background-repeat: no-repeat;
  padding-left: 31px;
  background-size: 22px;
}
#builder-main-menu a.bt-overview,
#builder-control-menu a.bt-overview {
  background-image: url("icons/overview.svg") !important;
}
#builder-main-menu a.bt-download,
#builder-control-menu a.bt-download {
  background-image: url("icons/download.svg") !important;
}
#builder-main-menu a.bt-movexy,
#builder-control-menu a.bt-movexy {
  background-image: url("icons/movexy.svg") !important;
}
#builder-main-menu a.bt-movez,
#builder-control-menu a.bt-movez {
  background-image: url("icons/movez.svg") !important;
}
#builder-main-menu a.bt-rotate,
#builder-control-menu a.bt-rotate {
  background-image: url("icons/rotate.svg") !important;
}
#builder-main-menu a.bt-scale,
#builder-control-menu a.bt-scale {
  background-image: url("icons/scale.svg") !important;
}
#builder-main-menu a.bt-hide,
#builder-control-menu a.bt-hide {
  background-image: url("icons/hide.svg") !important;
}
#builder-main-menu a,
#builder-control-menu a {
  text-align: left;
  padding: 5px 5px 5px 5px;
  margin: 5px;
  box-shadow: 0px 0px 2px #636363;
  background-color: #333;
  border-radius: 3px;
  display: block;
  position: relative;
  color: #fff;
}
#builder-main-menu a:hover,
#builder-control-menu a:hover {
  background-color: #555;
}
/* main menu*/
#builder-main-menu {
  padding: 5px;
  background-color: #222;
  color: #fff;
  width: auto;
  text-align: center;
  position: fixed;
  top: 0;
  left: 0;
}
/* control menu */
#builder-control-menu {
  padding: 5px;
  background: #222;
  color: #fff;
  width: 50px;
  text-align: center;
  position: absolute;
  top: 170px;
  left: 101px;
  display: block;
}
#builder-control-menu a {
  cursor: move;
  height: 16px;
  background-position: center center !important;
}
#builder-control-menu a:before {
  content: 'drag';
  font-size: 9px;
  position: absolute;
  top: 0;
  left: -8px;
  transform: rotate(312deg);
}

#builder-control-menu a.bt-hide {
  cursor: pointer;
}
#builder-control-menu a.bt-hide:before {
  content: '';
}

